/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* .hidden {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    pointer-events: none;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.loader::before {
    content: "";
    width: 100%;
    height: 0%;
    position: fixed;
    background: rgb(38, 38, 158);
    z-index: 11;
    top: 0;
    animation: spin1 0.3s linear infinite;
}
.loader::after {
    content: "";
    width: 100%;
    height: 0%;
    position: fixed;
    background: black;
    z-index: 11;
    top: 0;
    animation: spin2 0.3s linear 0.15s infinite; 
}

@keyframes spin1 {
    0% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    100% {
        height: 100%;
    }
}
@keyframes spin2 {
    0% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    100% {
        height: 100%;
    }
} */



body {
    position: absolute;
    width: 100vw;
    font-style: normal;
    letter-spacing: 3px;
    word-spacing: 10px;

    /* font-family: "Bebas Neue", sans-serif;
    font-weight: 400; */
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* .englisch {
    font-family: serif, sans-serif;
    font-weight: 600;
    color: rgb(192, 192, 192);
} */

.body__scroll {
    overflow-y: hidden;
}

h1,
h2,
p,
span,
.title,
.text,
a {
    position: relative;
    z-index: 5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    text-decoration: none;
}

.title {
    font-size: 60px;
    z-index: 4;
}

.conteiner {
    margin: auto;
    width: 1280px;
    display: none;

}



/* УБРАТЬ SCROLLBAR */
body::-webkit-scrollbar {
    display: none;
}



/* CURSOR */
#cursor {
    position: absolute;
    width: 0;
    height: 0;
    -webkit-box-shadow: 0 0 300px 100px rgb(40, 40, 230);
    box-shadow: 0 0 300px 100px rgb(40, 40, 230);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
}

.cursor__none {
    display: none;
}



/* NAV */
.nav {
    width: 950px;
    position: fixed;
    z-index: 5;
    top: 15px;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 2px solid rgb(255, 255, 255);
    padding: 20px 50px 15px;
    border-radius: 40px;
    -webkit-transform: translate(-50%, -120%);
    -ms-transform: translate(-50%, -120%);
    transform: translate(-50%, -120%);
    opacity: 0;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

.nav-active {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 1;
}

.nav__fon {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 40px;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.nav__link {
    word-spacing: 3px;
    font-size: 20px;
}

.nav__hover {
    position: relative;
    z-index: 4;
    margin-top: 5px;
    height: 3px;
    -webkit-box-shadow: 0 0 10px 1px white;
    box-shadow: 0 0 10px 1px white;
    border-radius: 50%;
    background: white;
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.nav__item:hover .nav__hover {
    opacity: 1;
}

.nav-adaptiv {
    position: fixed;
    top: 15px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 69px;
    height: 69px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: none;
    z-index: 6;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.underline-link {
    opacity: 1;
}

@media (max-width: 1280px) {
    .nav {
        width: 90vw;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

@media (max-width: 768px) {
    .nav__fon {
        border-radius: 0;
    }

    .nav {
        display: none;
        padding: 120px 0 80px;
        width: 100vw;
        height: 100vh;
        border: none;
        border-radius: 0;
        top: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .nav-adaptiv-active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .nav-adaptiv {
        display: block;
    }
}

@media (max-width: 400px) {
    .nav {
        padding: 100px 0 10px;
    }
}



/* SOCIAL-NETWORK */
/* .social-network {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
}

.social-network__item {
    font-size: 25px;
    color: white;
    text-decoration: none;
    border-radius: 50px;
}

.social-network__block {
    width: 40px;
    height: 40px;
    position: relative;
}

.social-network__icon {
    position: relative;
    z-index: 1;
}

.social-network__icon:before {
    display: block;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0;
}

.social-network__fon {
    position: absolute;
    left: 0;
    top: 0;
    background: black;
    opacity: 0.5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 1s;
}

.social-network a:hover .social-network__fon {
    box-shadow: 0 0 7px 4px white
} */



/* FON-STARS */
.fon-stars {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -10;
    background: black;
    overflow: hidden;
}

.fon-stars__circle {
    position: absolute;
    bottom: 0;
    width: 20px;
    aspect-ratio: 1/1;
    background: rgb(40, 40, 230);
    -webkit-box-shadow: 0 0 10px rgb(40, 40, 230),
        0 0 20px rgb(40, 40, 230),
        0 0 30px rgb(40, 40, 230),
        0 0 50px rgb(40, 40, 230);
    box-shadow: 0 0 10px rgb(40, 40, 230),
        0 0 20px rgb(40, 40, 230),
        0 0 30px rgb(40, 40, 230),
        0 0 50px rgb(40, 40, 230);
    border-radius: 50%;
    -webkit-animation: runStar 5s linear forwards;
    animation: runStar 5s linear forwards;
}

.fon-stars__circle::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 25%;
    width: 50%;
    height: 100vh;
    opacity: 0.5;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(40, 40, 230)), to(transparent));
    background: -o-linear-gradient(rgb(40, 40, 230), transparent);
    background: linear-gradient(rgb(40, 40, 230), transparent);
}

@-webkit-keyframes runStar {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    80% {
        opacity: 0.95;
    }

    100% {
        -webkit-transform: translateY(-100vh);
        transform: translateY(-100vh);
        opacity: 0;
    }
}

@keyframes runStar {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    80% {
        opacity: 0.95;
    }

    100% {
        -webkit-transform: translateY(-100vh);
        transform: translateY(-100vh);
        opacity: 0;
    }
}



/* HEADER */
.header {
    height: 100vh;
}

.header__conteiner {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__title {
    line-height: 80px;
    opacity: 0;
    -webkit-transform: translate(0, 120%);
    -ms-transform: translate(0, 120%);
    transform: translate(0, 120%);
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    text-align: center;
}

@media (max-width: 1280px) {
    .header__conteiner {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .header__title {
        font-size: 40px;
        line-height: 60px;
    }
}

@media (max-width: 550px) {
    .header__title {
        font-size: 20px;
        line-height: 40px;
    }
}



/* MAIN */
.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    background: rgb(1, 1, 29);
}



/* ABOUT */
.about {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.about__img {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    /* background: url(../img/fon.png); */
    background: url(../img/My_photo.jpg);
    /* background: url(../img/photo.png); */
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    z-index: 2;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.about__right {
    z-index: 2;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.about-active {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.about__content {
    width: 640px;
    padding-left: 50px;
}

.about__text {
    margin-top: 10px;
    font-size: 25px;
    line-height: 40px;
    color: rgb(192, 192, 192);
    text-align: justify;
}

@media (max-width: 1280px) {
    .about__content {
        width: 90%;
        padding-left: 0;
        margin: auto;
    }

}

@media (max-width: 1000px) {
    .about {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .about {
        height: auto;
    }

    .about__img {
        height: 50vh;
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
    }

    .about__content {
        width: 80%;
    }
}

@media (max-width: 550px) {
    .about__title {
        font-size: 30px;
        line-height: 40px;
    }

    .about__text {
        font-size: 15px;
        line-height: 25px;
    }
}



/* SKILLS */
.conteiner__skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 100px 0;
    color: rgb(192, 192, 192);
}

.conteiner__skills__title {
    text-align: center;
    margin: 0 0 50px;
    -webkit-transform: translate(0, -200%);
    -ms-transform: translate(0, -200%);
    transform: translate(0, -200%);
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.conteiner__skills__title-active {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
}

.conteiner__skills__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: rgb(192, 192, 192);
}

.conteiner__skills__floor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.conteiner__skills__line {
    width: 90%;
    margin: 15px auto;
    height: 3px;
    -webkit-box-shadow: 0 0 10px 1px white;
    box-shadow: 0 0 10px 1px white;
    border-radius: 50%;
    background: white;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.conteiner__skills__left {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-line-pack: center;
    align-content: center;
}

.conteiner__skills__right {

    text-align: justify;
    z-index: 4;
    width: 70%;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

.conteiner__skills__right ul {
    padding-left: 25px;
}

.conteiner__skills__right-active {
    opacity: 1;
}

.conteiner__skills__right a {
    text-decoration: underline;
}

.conteiner__skills__item {
    z-index: 4;
    width: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.conteiner__skills__icon {
    text-align: center;
    font-size: 60px;
    line-height: 60px;
    -webkit-transform: rotateY(300deg);
    transform: rotateY(300deg);
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.conteiner__skills__icon-active {
    opacity: 1;
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

.conteiner__skills__titleSlils {
    font-size: 20px;
    text-align: center;
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.conteiner__skills__titleSlils-active {
    opacity: 1;
}

@media (max-width: 1281px) {
    .conteiner__skills {
        width: 100%;
    }
}

@media (max-width: 1010px) {
}

@media (max-width: 768px) {
    .conteiner__skills__title {
        font-size: 30px;
    }

    .conteiner__skills__icon {
        font-size: 50px;
        line-height: 50px;
    }

    .conteiner__skills__titleSlils {
        font-size: 20px;
    }

    .conteiner__skills__item {
        width: 150px;
        height: 80px;
        margin: 15px 0;
    }


}

@media (max-width: 505px) {
    .conteiner__skills__line {
        width: 95%;
    }

    .conteiner__skills__floor {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .conteiner__skills__left {
        width: auto;
        align-items: center;
        justify-content: center;
    }
    .conteiner__skills__right {
        text-align: left;
        padding-left: 0px;
    }
}

@media (max-width: 300px) {
    .conteiner__skills__line {
        width: 99%;
    }
}




/* PORTFOLIO */
.conteiner__portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 100px 0;
}

.conteiner__portfolio__title {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
    opacity: 0;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    -webkit-transform: translate(0, -200%);
    -ms-transform: translate(0, -200%);
    transform: translate(0, -200%);
}

.conteiner__portfolio__title-active {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.conteiner__portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 4;
}

.conteiner__portfolio__item {
    position: relative;
    width: 390px;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    transform: translate(0, 100px);
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    overflow: hidden;
}

.conteiner__portfolio__item-active {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
}

.conteiner__portfolio__text {
    text-align: center;
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    z-index: 3;
    line-height: 25px;
}

.conteiner__portfolio__text__title {
    font-size: 30px;
    color: black;
}

.text__black {
    color: black;

}

.conteiner__portfolio__text__content {
    color: red;
    font-size: 20px;
}

.conteiner__portfolio__button {
    font-size: 20px;
    z-index: 3;
    text-align: center;
    width: 170px;
    border: 1px solid red;
    margin: 200px auto 0;
    padding: 10px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 0;
    color: black;
}

.conteiner__portfolio__img {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: 1s;
    -ms-transform: 1s;
    transform: 1s;
}

.conteiner__portfolio__img img {
    width: 100%;
    height: 100%;
}

.conteiner__portfolio__hoverFon {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: white;
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.conteiner__portfolio__item:hover .conteiner__portfolio__hoverFon {
    opacity: 1;
}

.conteiner__portfolio__item:hover .conteiner__portfolio__button {
    margin: 50px auto 0;
    opacity: 1;
}

.conteiner__portfolio__item:hover .conteiner__portfolio__text {
    opacity: 1;
}

@media (max-width: 1281px) {
    .conteiner__portfolio {
        width: 100%;
    }

    .conteiner__portfolio__item {
        width: 300px;
        height: 200px;
    }
}

@media (max-width: 768px) {
    .conteiner__portfolio__title {
        font-size: 30px;
    }

    .conteiner__portfolio__item {
        width: 200px;
        height: 150px;
    }

    .conteiner__portfolio__text {
        line-height: 15px;
    }

    .conteiner__portfolio__text__title {
        font-size: 20px;
    }

    .conteiner__portfolio__text__content {
        font-size: 15px;
    }

    .conteiner__portfolio__button {
        font-size: 15px;
        width: 170px;
        margin: 50px auto 0;
        padding: 10px;
    }
}

@media (max-width: 425px) {
    .conteiner__portfolio__item {
        width: 150px;
        height: 100px;
    }
}



/* FOOTER */
.footer {
    background: rgb(1, 1, 29);
    overflow: hidden;
    padding: 100px 0;
}

.footer__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto;
}

.footer__title {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
    opacity: 0;
    -webkit-transform: translate(0, -200%);
    -ms-transform: translate(0, -200%);
    transform: translate(0, -200%);
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

.footer__title-acive {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: translate(0, 120%);
    -ms-transform: translate(0, 120%);
    transform: translate(0, 120%);
    opacity: 0;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    z-index: 4;
}

.footer__content-active {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
}

.footer__item {
    margin: 0 30px;
    font-size: 50px;
    color: white;
    text-decoration: none;
    border-radius: 50px;
}

.footer__item__block {
    width: 80px;
    height: 80px;
    position: relative;
    /* border: 1px solid red; */
}

.footer__item__icon {
    position: relative;
    z-index: 1;
}

.footer__item__icon:before {
    display: block;
    text-align: center;
    line-height: 80px;
    letter-spacing: 0;
}

.footer__item__fon {
    position: absolute;
    left: 0;
    top: 0;
    background: black;
    opacity: 0.5;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.footer__item:hover .footer__item__fon {
    -webkit-box-shadow: 0 0 7px 4px white;
    box-shadow: 0 0 7px 4px white
}

@media (max-width: 1281px) {
    .footer__conteiner {
        width: 100%;
    }

    .footer__item {
        margin: 30px;
    }

    .footer__content {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}


.title-active {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
}

/* .header__conteiner, .about, .conteiner__skills, .conteiner__portfolio, .footer__conteiner {
    display: none;
} */
/* .about, */
/* .header__conteiner, */
/* .conteiner__skills, */
/* .footer__conteiner,  */
/* .conteiner__portfolio */
/* {
    display: none;
} */